@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
  font-display: swap;
}

/*--Global style-- */

body {
  background-color: black;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  color: white;
}

/*--Heading--*/

.heading {
  text-align: center;
  font-size: 1.5rem;
  color: red;
}

.heading i {
color: white;
}

h2 {
  color: rgb(232, 248, 8) ;
}

/*--Game layout--*/

.selection-area {
  display: flex;
  justify-content: center;
  width: 65%;
  height: 30%;
  margin: auto;
  padding: 20px;
  border: 10px solid rgb(87, 87, 7);
  border-radius: 40px;
  border-left-style: dotted;
  border-right-style: dotted;
  border-bottom-style: double;
  border-top-style: double;
}

#spinner {
  /* display: flex; */
  display: none;
  transform: scale(1);
}

#select-button {
  display: flex;
  width: 35%;
  height: 35%;
  flex-direction: column;
  border: 10px solid blue;
  border-radius: 40px;
  padding: 10px;
 
  border-style: double;
  background-color: rgb(75, 69, 69);
}

#select-button p {
  font-size: 1rem;
  color: springgreen;
}

/*game play and score area*/
.game-play {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  img {
    width: 160px;
    height: 140px;
  }
  
  .user-area {
    display: flex;
    margin-right: 50px;
  }
  
  .cpu-area {
    display: flex;
    margin-left: 50px;
  }
  
  .user-score,
  .cpu-score {
    color: white;
    margin: 20px;
    margin-top: 2px;
    padding: 5px;
  }
  
  .user-score span {
    color: greenyellow;
    font-size: 1rem;
  }
  
  .user-score p {
    color: orange;
    font-size: 1rem;
    border: 2px solid white;
    border-radius: 15px;
    padding: 10px;
  }
  
  .cpu-score span {
    color: red;
  }
  
  .cpu-score p {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    border: 2px solid rgb(96, 16, 170);
    border-radius: 15px;
    padding: 10px;
  }
  
  /*--selection buttons--*/

#btn-rock {
    width: 60px;
    height: 30px;
    border-radius: 10px;
    padding: 1px;
    margin: 0 2px;
    background-color: violet;
    transition: all 0.5s;
  }
  
  #btn-rock:focus {
    outline: none;
  }
  
  #btn-rock {
    border-color: black;
    color: black;
  }
  
  #btn-rock:active,
  #btn-rock:hover {
    background-color: black;
    color: white;
  }
  
  #btn-paper {
    width: 60px;
    height: 30px;
    border-radius: 10px;
    padding: px;
    margin: 0 2px;
    background-color: rgb(255, 255, 255);
    transition: all 0.5s;
  }
  
  #btn-paper:focus {
    outline: none;
  }
  
  #btn-paper {
    border-color: black;
    color: black;
  }
  
  #btn-paper:active,
  #btn-paper:hover {
    background-color: black;
    color: white;
  }
  
  #btn-scissors {
    width: 60px;
    height: 30px;
    border-radius: 10px;
    padding: 1px;
    margin: 0 2px;
    background-color: lightblue;
    transition: all 0.5s;
  }
  
  #btn-scissors:focus {
    outline: none;
  }
  
  #btn-scissors {
    border-color: black;
    color: black;
  }
  
  #btn-scissors:active,
  #btn-scissors:hover {
    background-color: black;
    color: white;
  }

/*result and social media*/
.result-display {
    color: deeppink;
  }
  
  .social-networks {
    text-align: center;    
    padding: 5px;
  }
  
  .social-networks > li {
    display: inline;    
    align-items: center;

   
  }
  
  .social-networks i {
    font-size: 1.5rem;
    color: #ffffff;
  }
  
  .social-media-links {
    justify-content: flex-end;
    margin-top: 40px;
    
  }
  
  #copyright {
    color: aqua;
    font-size: 0.5rem;
  }
  
  /* Media queries for responsiveness on different devices */
/*for screens of 1200px */
@media screen and (max-width: 1200px) {

  html, body {
      width:100%;
  }

  img {
      width: 70%;
  }

  .social-networks i {
      font-size: 2rem;
      padding: 1.5em;    
  }
}

/*for medium screen (tablets and ipads)*/

@media screen and (max-width: 810px) {
body {
    width:95%;
}

/*--Heading--*/

.heading {
  text-align: center;
  font-size: 1.5rem;
  color: red;
  margin: 2em;
}

/*--Game layout--*/

.selection-area {
  display: flex;
  justify-content: center;
  border: 10px solid rgb(87, 87, 7);
  border-radius: 20px;
  border-left-style: dotted;
  border-right-style: dotted;
  border-bottom-style: double;
  border-top-style: double;
}

#select-button {
  flex-direction: column;
  border: 10px solid blue;
  background-color: rgb(65, 59, 59);
  border-radius: 40px;
  padding: 10px;
  margin: 10px;
  border-style: double;
}

#select-button p {
  font-size: 1.5rem;
  color: springgreen;
}

/*game play and score area*/
.game-play {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 30px;
  }
  
  img {
    width: 100%;

  }
  
  .user-area {
    display: flex;
  }
  
  .cpu-area {
    display: flex;
  }
  
  .user-score,
  .cpu-score {
    color: white;
    margin-top: 2px;
    padding: 10px;
  }
  
  .user-score span {
    color: greenyellow;
    font-size: 1.5rem;
  }
  
  .user-score p {
    color: orange;
    font-size: 1rem;
    border: 2px solid white;
    border-radius: 15px;
    padding: 10px;
  }
  
  .cpu-score span {
    color: red;
    font-size: 1.5rem;
  }
  
  .cpu-score p {
    color: white;
    font-size: 1rem;
    border: 2px solid white;
    border-radius: 15px;
    padding: 10px;
  }
  
  /*--selection buttons--*/

#btn-rock {
    width: 60px;
    height: 30px;
    border-radius: 10px;
    padding: 2px;
    margin: 5px;
    background-color: violet;
    transition: all 0.5s;
  }
  
  #btn-rock:focus {
    outline: none;
  }
  
  #btn-rock {
    border-color: black;
    color: black;
  }
  
  #btn-rock:active,
  #btn-rock:hover {
    background-color: black;
    color: white;
  }
  
  #btn-paper {
    width: 60px;
    height: 30px;
    border-radius: 10px;
    padding: 2px;
    margin: 5px;
    background-color: white;
    transition: all 0.5s;
  }
  
  #btn-paper:focus {
    outline: none;
  }
  
  #btn-paper {
    border-color: black;
    color: black;
  }
  
  #btn-paper:active,
  #btn-paper:hover {
    background-color: black;
    color: white;
  }
  
  #btn-scissors {
    width: 60px;
    height: 30px;
    border-radius: 10px;
    padding: 2px;
    margin: 5px;
    background-color: lightblue;
    transition: all 0.5s;
  }
  
  #btn-scissors:focus {
    outline: none;
  }
  
  #btn-scissors {
    border-color: black;
    color: black;
  }
  
  #btn-scissors:active,
  #btn-scissors:hover {
    background-color: black;
    color: white;
  }

/*result and social media*/
.result-display {
    color: deeppink;
  }
  
  .social-networks {
    text-align: center;    
    padding: 5px;
  }
  
  .social-networks > li {
    display: inline;    
    align-items: center;
    border: 1px solid white;   
  }

  
  .social-networks i {
    font-size: 1.5rem;
    color: #ffffff;
  }
  
  
  
  #copyright {
    color: aqua;
    font-size: 1rem;
  }
  
}


/*for smaller screen and down (phones)*/

@media screen and (max-width: 390px) {  
  body {
    width:100%;
    overflow-y:hidden;
    overflow-x:hidden;
}
/*--Heading--*/

.heading{
text-align: center;
font-size: 0.5rem;
color: red;
}

h2 {
font-size: 0.3rem;
}
/*--Game layout--*/

.selection-area {
border: none;
}

#select-button p {
font-size: 0.3rem;
color: springgreen;

}

#select-button {
display: flex; 

}
/*game play and score area*/
.game-play {
  justify-content: center;
  align-items: center;
}

img {
  width: 100px;
  height: 50px;
}

.user-score span {
  color: greenyellow;
  font-size: 0.5rem;
}

.user-score p {
  color: orange;
  font-size: 0.4rem;
  border: 1px solid white;
  border-radius: 15px;
  padding: 3px;
}

.cpu-score span {
  color: red;
  font-size: 0.5rem;
}

.cpu-score p {
  color: white;
  font-size: 0.4rem;
  border: 1px solid white;
  border-radius: 15px;
  padding: 3px;
}

/*--selection buttons--*/

#btn-rock {
  width: 50px;
  height: 20px;
  border-radius: 5px;
  padding: 1px;
  font-size: 10px;
  background-color: violet;
  transition: all 0.5s;
}

#btn-rock:focus {
  outline: none;
}

#btn-rock {
  border-color: black;
  color: black;
}

#btn-rock:active,
#btn-rock:hover {
  background-color: black;
  color: white;
}

#btn-paper {
  width: 50px;
  height: 20px;
  border-radius: 5px;
  padding: 1px;
  font-size: 10px;
  background-color: white;
  transition: all 0.5s;
}

#btn-paper:focus {
  outline: none;
}

#btn-paper {
  border-color: black;
  color: black;
}

#btn-paper:active,
#btn-paper:hover {
  background-color: black;
  color: white;
}

#btn-scissors {
  width: 50px;
  height: 20px;
  border-radius: 5px;
  padding: 1px;
  font-size: 10px;
  background-color: lightblue;
  transition: all 0.5s;
}

#btn-scissors:focus {
  outline: none;
}

#btn-scissors {
  border-color: black;
  color: black;
}

#btn-scissors:active,
#btn-scissors:hover {
  background-color: black;
  color: white;
}

/*result and social media*/
.result-display {
  color: deeppink;
  font-size: 0.3rem;
  margin-top: 3px;
}

.social-networks {
  display: flex;
  text-align: center;
  flex-direction: row;
  padding: 3px;
  margin: 35px;
}

.social-networks i {
  font-size: 1rem;
}

#copyright {
  color: aqua;
  font-size: 0.3rem;
  margin-top: 1px;
  display: block;
}
}