@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

/*--Global style-- */

body {
  background-color: black;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  color: white;
}

/*--Heading--*/

.heading {
  text-align: center;
  font-size: 1.5rem;
  color: red;
}

.heading i {
color: white;
}

/*--Game layout--*/

.selection-area {
  width: 25%;
  margin: auto;
  padding: 20px;
  border: 10px solid rgb(87, 87, 7);
  border-style: dotted;
  border-radius: 40px;
  border-left-style: dotted;
  border-right-style: dotted;
  border-bottom-style: double;
  border-top-style: double;
}