@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
body {
	box-sizing: border-box;
	text-align: center;
	font-family: "Press Start 2P", cursive;
	background-color: black;
	overflow-y: hidden;
	overflow-x: hidden;
}


/*--Heading--*/

h1 {
	font-size: 25px;
	text-align: center;
	color: rgb(0, 255, 76);
}

h2 {
	font-size: 16px;
	color: rgb(204, 8, 248);
	margin: 40px;
}

h3 {
	color: yellow;
}


/*--Game layout--*/

.selection-area {
	display: flex;
	width: 80%;
	height: 200px;
	margin: auto;
	justify-content: center;
	align-content: center;
	border: 10px solid rgb(244, 244, 68, 0.2);
	border-radius: 100px;
	border-left-style: dotted;
	border-right-style: dotted;
	border-bottom-style: double;
	border-top-style: double;
}


/* spinner picture when game is loading */

#spinner {
	display: none;
	transform: scale(1);
}

#select-button {
	display: flex;
	flex-direction: column;
	width: 25%;
	height: 120px;
	border: 10px solid blue;
	border-radius: 50px;
	margin-top: 20px;
	padding: 1em;
	border-style: double;
	background-color: rgb(64, 18, 18);
}

#select-button p {
	font-size: 15px;
	padding: 0.5em;
	color: rgb(217, 255, 0);
}


/*game play and score area*/

.game-play {
	width: 100%;
	height: 150px;
	display: flex;
	justify-content: center;
	margin: auto;
	padding: 1.5em;
}

img {
	max-width: 12%;
}

.user-score,
.cpu-score {
	color: white;
	margin: auto;
	padding: 10px;
}

.user-score span {
	color: greenyellow;
	font-size: 18px;
	margin: auto;
	padding: 20px;
}

.user-score p {
	color: orange;
	font-size: 18px;
	border: 2px solid white;
	border-radius: 15px;
	margin: auto;
	padding: 10px;
}

.cpu-score span {
	color: red;
	font-size: 18px;
	margin: auto;
	padding: 20px;
}

.cpu-score p {
	color: rgb(255, 255, 255);
	font-size: 18px;
	border: 2px solid white;
	border-radius: 15px;
	margin: auto;
	padding: 10px;
}


/*--buttons--*/

#btn-hint {
	width: 65px;
	height: 30px;
	border-radius: 10px;
	border: 5px solid blue;
	border-style: outset;
	padding: 2px;
	margin: auto;
	background-color: lightblue;
	transition: all 0.5s;
}

#btn-rock {
	width: 65px;
	height: 30px;
	border-radius: 10px;
	border: 5px solid blue;
	border-style: outset;
	padding: 2px;
	margin: auto;
	background-color: violet;
	transition: all 0.5s;
}

#btn-rock:focus {
	outline: none;
}

#btn-rock {
	border-color: black;
	color: black;
}

#btn-rock:active,
#btn-rock:hover {
	background-color: black;
	color: white;
}

#btn-paper {
	width: 65px;
	height: 30px;
	border-radius: 10px;
	border: 5px solid blue;
	border-style: outset;
	padding: 2px;
	margin: auto;
	background-color: rgb(255, 255, 255);
	transition: all 0.5s;
}

#btn-paper:focus {
	outline: none;
}

#btn-paper {
	border-color: black;
	color: black;
}

#btn-paper:active,
#btn-paper:hover {
	background-color: black;
	color: white;
}

#btn-scissors {
	width: 65px;
	height: 30px;
	border-radius: 10px;
	border: 5px solid blue;
	border-style: outset;
	padding: 2px;
	margin: auto;
	background-color: lightblue;
	transition: all 0.5s;
}

#btn-scissors:focus {
	outline: none;
}

#btn-scissors {
	border-color: black;
	color: black;
}

#btn-scissors:active,
#btn-scissors:hover {
	background-color: black;
	color: white;
}

.rules {
	color: aqua;
	font-size: 12px;
	margin: auto;
}


/* Media queries for responsiveness on different devices */


/*for medium screen (tablets and ipads)*/

@media screen and (max-width: 810px) {
	body {
		width: 100%;
		overflow-y: hidden;
		overflow-x: hidden;
	}
	/*--Heading--*/
	h1 {
		font-size: 16px;
		text-align: center;
		color: rgb(0, 255, 76);
		margin: auto;
		padding: 15px;
	}
	h2 {
		font-size: 16px;
		color: rgb(204, 8, 248);
		margin: 30px;
	}

	h3 {
		color: yellow;
	}
	/*--Game layout--*/
	.selection-area {
		display: flex;
		width: 90%;
		height: 200px;
		margin: auto;
		justify-content: center;
		align-content: center;
		border: 10px solid rgb(244, 244, 68, 0.2);
		border-radius: 100px;
		border-left-style: dotted;
		border-right-style: dotted;
		border-bottom-style: double;
		border-top-style: double;
	}
	/* spinner picture when game is loading */
	#spinner {
		display: none;
		transform: scale(1);
	}
	#select-button {
		display: flex;
		flex-direction: column;
		width: 50%;
		height: 120px;
		border: 10px solid blue;
		border-radius: 50px;
		margin-top: 20px;
		padding: 10px;
		border-style: double;
		background-color: rgb(64, 18, 18);
	}
	#btn-hint {
		display: none;
	}
	#select-button p {
		font-size: 14px;
		padding: 10px;
		color: rgb(217, 255, 0);
	}
	/*game play and score area*/
	.game-play {
		width: 50%;
		height: 150px;
		display: flex;
		justify-content: center;
		margin: auto;
		padding: 20px;
	}
	img {
		max-width: 50%;
	}
	.user-score,
	.cpu-score {
		color: white;
		margin: auto;
		padding: 8px;
	}
	.user-score span {
		color: greenyellow;
		font-size: 12px;
		margin: auto;
		padding: 10px;
	}
	.user-score p {
		color: #ffa500;
		font-size: 12px;
		border: 2px solid white;
		border-radius: 15px;
		margin: auto;
		padding: 5px;
	}
	.cpu-score span {
		color: red;
		font-size: 12px;
		margin: auto;
		padding: 10px;
	}
	.cpu-score p {
		color: rgb(255, 255, 255);
		font-size: 13px;
		border: 2px solid white;
		border-radius: 15px;
		margin: auto;
		padding: 5px;
	}
	/*--selection buttons--*/
	#btn-rock {
		width: 60px;
		height: 30px;
		border-radius: 10px;
		border: 5px solid blue;
		border-style: outset;
		padding: 2px;
		margin: auto;
		background-color: violet;
		transition: all 0.5s;
	}
	#btn-rock:focus {
		outline: none;
	}
	#btn-rock {
		border-color: black;
		color: black;
	}
	#btn-rock:active,
	#btn-rock:hover {
		background-color: black;
		color: white;
	}
	#btn-paper {
		width: 60px;
		height: 30px;
		border-radius: 10px;
		border: 5px solid blue;
		border-style: outset;
		padding: 2px;
		margin: auto;
		background-color: rgb(255, 255, 255);
		transition: all 0.5s;
	}
	#btn-paper:focus {
		outline: none;
	}
	#btn-paper {
		border-color: black;
		color: black;
	}
	#btn-paper:active,
	#btn-paper:hover {
		background-color: black;
		color: white;
	}
	#btn-scissors {
		width: 60px;
		height: 30px;
		border-radius: 10px;
		border: 5px solid blue;
		border-style: outset;
		padding: 2px;
		margin: auto;
		background-color: lightblue;
		transition: all 0.5s;
	}
	#btn-scissors:focus {
		outline: none;
	}
	#btn-scissors {
		border-color: black;
		color: black;
	}
	#btn-scissors:active,
	#btn-scissors:hover {
		background-color: black;
		color: white;
	}
	.rules {
		color: aqua;
		font-size: 14px;
		margin: auto;
	}
}


/*for smaller screen and down (phones)*/

@media screen and (max-width: 390px) {
	html,
	body {
		width: 100%;
		overflow-y: hidden;
		overflow-x: hidden;
	}
	/*--Heading--*/
	h1 {
		font-size: 14px;
		text-align: center;
		color: rgb(0, 255, 76);
		padding: 10px;
	}
	#result-display {
		font-size: 12px;
		margin: 0;
	}
	h2 {
		font-size: 12px;
		color: rgb(204, 8, 248);
		margin: 20px;
	}

	h3 {
		color: yellow;
	}
	/*--Game layout--*/
	.selection-area {
		border: none;
	}
	/* spinner picture when game is loading */
	#spinner {
		display: none;
		transform: scale(1);
	}
	#select-button {
		display: flex;
		flex-direction: column;
		border: none;
		margin: auto;
		padding: 5px;
	}
	#select-button p {
		font-size: 12px;
		padding: 3px;
		color: rgb(217, 255, 0);
	}
	/*game play and score area*/
	.game-play {
		width: 50%;
		height: 150px;
		display: flex;
		justify-content: center;
		margin: auto;
		padding: 5px;
	}
	img {
		max-width: 40%;
	}
	.user-score,
	.cpu-score {
		color: white;
		padding: 5px;
		margin: auto;
	}
	.user-score span {
		color: greenyellow;
		font-size: 12px;
		margin: auto;
		padding: 5px;
	}
	.user-score p {
		color: orange;
		font-size: 12px;
		border: 2px solid white;
		border-radius: 15px;
		margin: auto;
		padding: 5px;
	}
	.cpu-score span {
		color: red;
		font-size: 12px;
		margin: auto;
		padding: 5px;
	}
	.cpu-score p {
		font-size: 12px;
		border: 2px solid white;
		border-radius: 15px;
		margin: auto;
		padding: 5px;
	}
	/*--selection buttons--*/
	#btn-rock {
		width: 60px;
		height: 30px;
		border-radius: 15px;
		border: 2px solid blue;
		border-style: outset;
		padding: 3px;
		margin: 3px;
		background-color: violet;
		transition: all 0.5s;
	}
	#btn-rock:focus {
		outline: none;
	}
	#btn-rock {
		border-color: black;
		color: black;
	}
	#btn-rock:active,
	#btn-rock:hover {
		background-color: black;
		color: white;
	}
	#btn-hint {
		display: none;
	}
	#btn-paper {
		width: 60px;
		height: 30px;
		border-radius: 15px;
		border: 2px solid blue;
		border-style: outset;
		padding: 3px;
		margin: 3px;
		background-color: rgb(255, 255, 255);
		transition: all 0.5s;
	}
	#btn-paper:focus {
		outline: none;
	}
	#btn-paper {
		border-color: black;
		color: black;
	}
	#btn-paper:active,
	#btn-paper:hover {
		background-color: black;
		color: white;
	}
	#btn-scissors {
		width: 60px;
		height: 30px;
		border-radius: 15px;
		border: 2px solid blue;
		border-style: outset;
		padding: 3px;
		margin: 3px;
		background-color: lightblue;
		transition: all 0.5s;
	}
	#btn-scissors:focus {
		outline: none;
	}
	#btn-scissors {
		border-color: black;
		color: black;
	}
	#btn-scissors:active,
	#btn-scissors:hover {
		background-color: black;
		color: white;
	}
	.rules {
		color: aqua;
		font-size: 12px;
		margin: auto;
	}
}